.maxpf-test2-profile_page_social {
	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row; */

	/* height: 65px; */
}

.maxpf-test2-profile_page_social a {
	height: 62px;
	width: 62px;
}

.maxpf-test2-profile_page_social img {
	height: 62px;
}

.maxpf-test2-profile_page_social img:hover {
	height: 65px;
	margin-top: -3px;
}

.maxpf-test2-profile_page_container ul {
	list-style-position: inside;
	color: red;
}
